body{
    color:white;
}
audio {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}
#content{
    width:fit-content;
    height: fit-content;
}
.music{
    display: grid;
    margin-left: 230px;
}
audio{
    width:300px;
}