body {
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
 background-color: #333232;
}



.container {
 margin: 50px auto;
 width: 400px;
 padding: 20px;



}

.container h2 {
 margin-top: 0;
  color: white;
  margin-left: 90px;
}

form {	
 display: flex;
 flex-direction: column;
}

label {
  font-size: 16px;
  color: white;
  display: inline-block;
  margin-right: 10px;
}

input[type="login"],
input[type="password"],
input[type="email"], 
input[type="re.password"]  {
  margin-bottom: 15px;
  width: 170px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
  display: inline-block; 
  margin-top: 10px;	
  	
}

input[type="submit"] {
  width: 190px; 
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;	
  margin-left: 70px;
}

input[type="submit"]:hover {
 background-color: #d9d9d9;
}

input[type="login"]{
	
	  margin-left: 18px;
	
}
input[type="email"]{
	
	  margin-left: 11px;
	
}
input[type="re.password"]{
	
	    margin-right: 20px;

	
}

a[type="re"]{
	
	  margin-left: -79px;
	  color: white;
	
}

input[type="search"]{
  margin-bottom: 15px;
  width: 170px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
  display: inline-block; 
  margin-top: 10px;	

  	
}


	.dop{
		margin-top: 10px;
	}
	.res{
		
		margin-left: 40px;
	}
	.par{
		margin-left: 30px;
	}
	.back{
		margin-left: 140px;
	}


display: inline-block;

