body {
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
 background-color: #333232;
}




.text1 {
	
	 color: white;
	font-size: 36px;

}
.text2 {
	
	 color: white;
	font-size: 20px;
}
#content{
    display: inline-grid;
}




input[type="search"]{
  margin-bottom: 15px;
  width: 170px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
  display: inline-block; 
  margin-top: 10px;	

  	
}


	
	
  .container {
    display: flex;
    flex-direction: row;
  }
img {
	margin-top: 20px;
    margin-left: 20px;
    width: 200px;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
  }
  .text {
    width: 600px;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    color: white;
  }